<% layout("/layouts/boilerplate") %>
<body>
    <div class="books">
        <h2>Books for PCM class 11th</h2>
        <p>
            <ul>
                <% for(let book of allBooks) { %>
                    <a href="/books/<%= book._id %>">
                        <li><%= book.title %></a></li>
                    </a>
               <% } %>
            </ul>
        </p>
        <form method="get" action="/books/new">
            <button type="submit">Add New Book</button>
        </form>
    </div>
</body>

