<% layout("/layouts/boilerplate") %>
<body>
    <!-- <form action="/11/science" method="post">
        <input type="text" name="book[title]" placeholder="Enter the title" required>
        <br><br> 
        <textarea name="book[description]" placeholder="Enter the description" rows="10" cols="40"></textarea>
        <br><br>          
        <input type="text" name="book[coverimage]" placeholder="Enter the image url" required>
        <br><br>
        <input type="text" name="book[indeximage]" placeholder="Enter the image url" required>
        <br><br>
        <input type="text" name="book[insideimage]" placeholder="Enter the image url" required>
        <br><br>
        <input type="number" name="book[price]" placeholder="Enter the price" required>
        <br><br>
        <input type="text" name="book[author]" placeholder="Enter the author">
        <br><br>
        <input type="text" name="book[category]" placeholder="Enter the category" required>
        <br><br>

        <button type="submit">Save</button>
    </form> -->
    <div class="new_form" style="padding: 2rem;">
        <form class="row g-3 justify-content-center" >
            <div class="field">
              <label for="inputEmail4" class="form-label">Email</label>
              <input type="email" class="form-control" id="inputEmail4" name="book[title]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[description]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[coverimage]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[indeximage]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[insideimage]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[price]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[author]">
            </div>
            <div class="field">
                <label for="inputEmail4" class="form-label">Email</label>
                <input type="email" class="form-control" id="inputEmail4" name="book[category]">
            </div>
            <div class="form_btn" style="margin-left: 32rem;">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
        </form>
    </div>
</body>