<%- layout('/layouts/boilerplate') %>

<body>
    <!-- <div id="loader">
        <h1>ENVIRONMENTS</h1>
        <h1>EXPERIENCES</h1>
        <h1>CONTENT</h1>
    </div> -->
    <div class="main_class11">
        <div class="heading_class11">
            <h1>Class 11th Books</h1>
            <!-- <p>The Best Platform for Second Hand Books!!</p> -->
        </div>
        <div class="mid_heading_class11">
            <div id="moving-text">
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
            </div>
        </div>
        <div class="category_class11">
            <div class="row_category_class11">
                <div class="card" style="width: 18rem;">
                    <img src="/image/class11sci.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Science</h5>
                      <p class="card-text">Here you will get all books for class 11th Science</p>
                      <a href="/11/science" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/image/class11arts.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Arts</h5>
                      <p class="card-text">Here you will get all books for class 11th Arts</p>
                      <a href="/11/arts" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/image/class11com.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Commerce</h5>
                      <p class="card-text">Here you will get all books for class 11th Commerce</p>
                      <a href="/11/commerce" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>