<%- layout('/layouts/boilerplate') %>

<body>
    <!-- <div id="loader">
        <h1>ENVIRONMENTS</h1>
        <h1>EXPERIENCES</h1>
        <h1>CONTENT</h1>
    </div> -->
    <div class="main_class12">
        <div class="heading_class12">
            <h1>Class 12th Books</h1>
            <!-- <p>The Best Platform for Second Hand Books!!</p> -->
        </div>
        <div class="mid_heading_class12">
            <div id="moving-text">
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
            </div>
        </div>
        <div class="category_class12">
            <div class="row_category_class12">
                <div class="card" style="width: 18rem;">
                    <img src="/image/class12sci.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Science</h5>
                      <p class="card-text">Here you will get all books for class 12th Science</p>
                      <a href="/12/science" class="btn btn-primary">Check Books</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/image/class12arts.jpg" class="card-img-top" alt="..." style="height: 17rem;">
                    <div class="card-body">
                      <h5 class="card-title">Arts</h5>
                      <p class="card-text">Here you will get all books for class 12th Arts</p>
                      <a href="/12/arts" class="btn btn-primary">Check Books</a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="/image/class12com.webp" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Commerce</h5>
                      <p class="card-text">Here you will get all books for class 12th Commerce</p>
                      <a href=/12/commerce class="btn btn-primary">Check Books</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>