<%- layout('/layouts/boilerplate') %>

<body>
    <!-- <div id="loader">
        <h1>ENVIRONMENTS</h1>
        <h1>EXPERIENCES</h1>
        <h1>CONTENT</h1>
    </div> -->
    <div class="main_home">
        <div class="heading_home">
            <h1>BookKosh</h1>
            <p>The Best Platform for Second Hand Books!!</p>
        </div>
        <div class="mid_heading_home">
            <div id="moving-text">
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
                <div class="feature">
                    <h1>All CATEGORIES</h1>
                    <div id="circle_design"></div>
                    <h1>BEST QUALITY</h1>
                    <div id="circle_design"></div>
                    <h1>LOWEST PRICE</h1>
                    <div id="circle_design"></div>
                </div>
            </div>
        </div>
        <div class="category_home">
            <div class="row_category_home">
                <div class="card crdHome" style="width: 18rem;">
                    <img src="/image/class11.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Class 11th</h5>
                      <p class="card-text">Here you will get all books for class 11th</p>
                      <a href="/11" class="btn btn-primary">Visit</a>
                    </div>
                </div>
                <div class="card crdHome" style="width: 18rem;">
                    <img src="/image/class12.avif" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Class 12th</h5>
                      <p class="card-text">Here you will get all books for class 12th</p>
                      <a href="/12" class="btn btn-primary">Visit</a>
                    </div>
                </div>
                <div class="card crdHome" style="width: 18rem;">
                    <img src="/image/upsc.png" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">UPSC</h5>
                      <p class="card-text">Here you will get all books for UPSC</p>
                      <a href="/upsc" class="btn btn-primary">Visit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>